[user]
	email = johan@bradvik.se
	name = Johan Brådvik

[core]
	editor = /usr/local/bin/git-core-editor.sh


[diff]
        tool = beyondc

[difftool]
        prompt = true

[difftool "beyondc"]
        cmd = \"c:/program files (x86)/beyond compare 3/bcompare.exe\" "$(cygpath -w $LOCAL)" "$(cygpath -w $REMOTE)"


[merge]
        tool = beyondc

[mergetool "beyondc"]
        cmd = \"c:/program files (x86)/beyond compare 3/bcompare.exe\" $(cygpath -w $LOCAL) $(cygpath -w$REMOTE) $(cygpath -w $BASE) $(cygpath -w $MERGED)
        trustExitCode = true


[alias]
	cho = checkout
	com = commit -m
	bra = branch -a
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[push]
	default = current
